/* line 7, ../sass/login.scss */
.navbar, .navbar-default, .navbar-collapse, .navbar-form, #logo {
  background-color: #5bc0de;
  color: white;
  background: gray;
}

/* line 12, ../sass/login.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

/* line 17, ../sass/login.scss */
.navbar-inverse .navbar-nav > li > a {
  color: black;
  font-weight: bold;
  opacity: 1;
}

/* line 23, ../sass/login.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: red;
  color: #89daf2;
  font-weight: bold;
  opacity: 1;
}

/* line 32, ../sass/login.scss */
.navbar-brand {
  color: white;
}

/* line 36, ../sass/login.scss */
#logo {
  background: transparent;
}
